@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    font-family: "Cinzel Decorative", serif;
}

.skillsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.skillsSection {
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
}

.subTitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 16px;
    font-family: "Cinzel Decorative", serif;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.contentSkills{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
}

.skills {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.skillImageContainer img {
    width: 35px;
}

.skill p {
    font-size: 16px;
    font-family: var(--font-spectral), serif;
    font-weight: 500;
}

.history {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background: var(--color-secondary);
    box-shadow: 0 0 4px 0 var(--color-dark);
    border-radius: 15px;
    padding: 24px;
    position: relative;
    z-index: 1; /* Ensure above the background title */
}

.historyItem img {
    width: 50px;
}

.historyItemDetails {
    font-family: var(--font-spectral), serif;
}

.historyItemDetails h3 {
    font-size: 16px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 14px;
    font-weight: 500;
}

.historyItemDetails ul {
    margin-top: 8px;
    list-style-position: inside;
    font-size: 24px;
    list-style-type: disc;
    margin-left: 18px;
}

.historyItemDetails li {
    font-size: 14px;
    font-family: var(--font-spectral), serif;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
        width: 100%;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width: 100%;
        gap: 12px;
    }
}
